body {
    background-color: antiquewhite;
    font: 14px arial, sans-serif;
}

h1 {
    color: brown;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
}

form {
    margin: 4px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: burlywood;
    border-radius: 10px;
}

td {
    margin-left: 2px;
    margin-right: 2px;
}

.list {
    display: none;
}

.field {
    margin: 5px;
}

.login {
    width: 120px;
}

.error {
    color: firebrick;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

form .login-form {
    width: 320px;
}

.arg {
    width: 50px;
}

.score { 
    width: 20px;
}

.result {
    width: 60px;
}

.question {
    width: 100px;
}

.qcol {
    width: 66%;
    display: block;
    float: left;
}

.ecol {
    display: block;
    float: left;
}

.student-exam-col {
    width: 95%;
    display: block;
    float: left;
}

.student-test-col {
    display: block;
    float: left;
}

.message-label {
    padding: 3px;
    font-weight: bold;
}

#cs490-testcase-current-question-id {
    
}

#tabs {
    border-bottom: 2px solid burlywood;
    height: 33px;
    margin: 0 0 10px;
    padding-top: 5px;
    background: wheat;
    font-weight: bold;
}

#tabs a {
    float: left;
    margin-left: 2px;
    border-radius: 10px 10px 0 0;
    border: 2px solid burlywood;
    border-bottom-color: antiquewhite;
    color: darkgray;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-decoration: none;
}

#tabs a:hover {
    background: antiquewhite;
    color: black;
    border-color: burlywood burlywood antiquewhite;
}

#tabs a.active {
    background: antiquewhite;
    color: black;
    border-color: burlywood burlywood antiquewhite;
}

#tabs a.active:hover {
    background: antiquewhite;
    color: black;
    border-color: burlywood burlywood antiquewhite;
}

#tabs_data fieldset {
    display: none;
    border: 0;
}

#tabs_data fieldset div {
    font-size: 14px;
}