.field {
    margin: 5px;
}

.login {
    width: 120px;
}

.error {
    color: firebrick;
    font-weight: bold;
}

body {
    background-color: antiquewhite;
    font: 14px arial, sans-serif;
}

h1 {
    color: brown;
}

label {
    width: 320px;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
}

form {
    margin: 4px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: burlywood;
    border-radius: 10px;
}

td {
    margin: 2px;
    padding: 2px;
}

form .login-form {
    width: 320px;
}

.arg {
    width: 50px;
}

.qcol {
    width: 66%;
    display: block;
    float: left;
}

.ecol {
    display: block;
    float: left;
}